@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #222;
  margin: 0;
}

body, html {
  height: 100%;
}

#jsLogo {
  display: none;
}

#container {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-align-content: center;

  height: 100%;
  width: 100%;
}

#canvas-wrapper {
  margin: auto;
}

#canvas {
  max-width: 100%;
}

#caption {
  transition: opacity 1s;
  opacity: 0;

  font: 16px "Open Sans", Helvetica, sans-serif;
  margin: 0px auto;
  margin-bottom: 20px;
  padding: 20px 40px;
  max-width: 900px;
  color: #AAA;
  background: #444;
  text-align: center;
  border-radius: 5px;
}

#caption a {
  color: #EEE;
}
