@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #1a1a1a;
  margin: 0;
  font: 16px "Open Sans", Helvetica, sans-serif;
}

body, html {
  min-width: 1024px;
  min-height: 660px;
  height: 100%;
}

#jsLogo {
  display: none;
}

#cljsLogo {
  height: 40px;
  opacity: 0.5;
  vertical-align: middle;
  transition: opacity 0.2s linear;
}

#container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-align-content: center;

  width: 100%;
  height: 100%;
}

#canvas-container {
  width: 100%;
  height: 70%;
  text-align: center;
}

#canvas {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

#caption {
  transition: opacity 1s;
  opacity: 0;

  margin: 20px auto;
  padding: 20px 40px;
  max-width: 900px;
  color: #AAA;
  background: #2a2a2a;
  text-align: center;
  border-radius: 5px;
}

#canvas-footer {
  position: relative;
  height: 80px;
  opacity: 0;
  transition: opacity 1s;
}

#keys {
  color: #AAA;
  position: absolute;
  text-align: right;
  display: block;
  opacity: 0.2;
  right: 10px;
  top: 10px;
  transition: opacity 1s;
}

#keys:hover {
  opacity: 0.5;
}

#keys tr td:last-child {
  text-align: left;
}

#caption p {
  margin: 5px;
}

#caption a {
  color: #EEE;
  text-decoration: none;
  border-bottom: 2px solid #666;
}

#github {
  padding: 20px;
  color: #444;
  display: block;
  width: 260px;
  margin: 0 auto;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

#github:hover #cljsLogo {
  opacity: 1;
}
